<div class="container text-center ">
  <h1 class="text-white">CONTÁCTANOS</h1>
  <div class="row mt-5 mb-5">
    <div class="col-sm mb-3">
      <div class="row">
        <i class="fa fa-envelope fs-1 text-white" aria-hidden="true"></i>
      </div>
      <div class="row">
        <strong><span class="text-white">Email</span></strong>
      </div>
      <div class="row">
        <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="mailto:byronvillegasm@gmail.com" title="Contáctame por correo">byronvillegasm&#64;gmail.com</a>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="row">
        <i class="fa fa-instagram fs-1 text-white" aria-hidden="true"></i>
      </div>
      <div class="row">
        <strong><span class="text-white">Instagram</span></strong>
      </div>
      <div class="row">
        <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://www.instagram.com/Neko.776/" target="_blank" title="Contáctame por instagram">Neko.776</a>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="row">
        <i class="fa fa-linkedin-square fs-1 text-white" aria-hidden="true"></i>
      </div>
      <div class="row">
        <strong><span class="text-white">LinkedIn</span></strong>
      </div>
      <div class="row">
        <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://cl.linkedin.com/in/byron-villegas-moya" target="_blank" title="Contáctame por linkedin">Byron Villegas Moya</a>
      </div>
    </div>
    <div class="col-sm mb-3">
      <div class="row">
        <i class="fa fa-github fs-1 text-white" aria-hidden="true"></i>
      </div>
      <div class="row">
        <strong><span class="text-white">Github</span></strong>
      </div>
      <div class="row">
        <a class="link-light link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://github.com/byron-villegas" target="_blank" title="Sigueme en github">byron-villega</a>
      </div>
    </div>
  </div>
  <h1 class="text-white">DEJANOS TU CONSULTA</h1>
  <form class="text-start mt-5">
    <div class="mb-3">
      <label for="nombresApellidos" class="form-label text-white "><strong>Nombres y Apellidos <span class="text-danger">*</span></strong></label>
      <input type="text" class="form-control" id="nombresApellidos" required placeholder="Juan Carlos Bodoque">
    </div>
    <div class="mb-3">
      <label for="telefono" class="form-label text-white"><strong>Teléfono <span class="text-danger">*</span></strong></label>
      <input type="text" class="form-control" id="telefono" required placeholder="987654321">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label text-white"><strong>Email <span class="text-danger">*</span></strong></label>
      <input type="email" class="form-control" id="email" required placeholder="juan.bodoque@gmail.com" autocomplete="email">
    </div>
    <div class="mb-3">
      <label for="asunto" class="form-label text-white"><strong>Asunto <span class="text-danger">*</span></strong></label>
      <input type="text" class="form-control" id="asunto" required placeholder="Tremendos Discos">
    </div>
    <div class="mb-3">
      <label for="mensaje" class="form-label text-white"><strong>Mensaje <span class="text-danger">*</span></strong></label>
      <textarea class="form-control" id="mensaje" rows="10" required></textarea>
    </div>
    <div class="mb-3">
      <button type="reset" class="btn btn-dark me-2">Limpiar</button>
      <button type="submit" class="btn btn-dark">Enviar</button>
    </div>
  </form>
</div>