<main class="text-center">
  <h2 class="text-white"><strong>CATEGORIAS</strong></h2>
  <div class="row row-cols-1 row-cols-md-3 w-100 mt-3">
    <div class="col">
      <a routerLink="/disc-category/vinyls" class="link-light">
        <div class="vinyl">
          <div class="label-vinyl-border">
            <div class="label-vinyl"></div>
          </div>
        </div>
        <h3 class="text-white mt-3"><strong>VINILOS</strong></h3>
      </a>
    </div>
    <div class="col">
      <a routerLink="/disc-category/cds" class="link-light">
        <div class="cd"></div>
        <h3 class="text-white mt-3"><strong>CDS</strong></h3>
      </a>
    </div>
    <div class="col" *ngIf="subCategorias['cassettes'].length > 0">
      <a routerLink="/disc-category/cassettes" class="link-light">
        <div class="cassette">
          <div class="label-cassette">
            <div class="whiteStripe"></div>
            <div class="blueStripe"></div>
          </div>
          <div class="middle">
            <div class="rotor L">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
            <div class="window"></div>
            <div class="rotor R">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
          <div class="bottompart"></div>
          <div class="screw TL"></div>
          <div class="screw TR"></div>
          <div class="screw BL"></div>
          <div class="screw BR"></div>
          <div class="screw BM"></div>
          <div class="hole one"></div>
          <div class="hole two"></div>
          <div class="hole three"></div>
          <div class="hole four"></div>
        </div>
        <h3 class="text-white mt-3"><strong>CASSETTES</strong></h3>
      </a>
    </div>
  </div>
</main>