<section class="text-center container">
  <div class="row py-4 mb-3">
    <div class="col-lg-6 col-md-8 mx-auto">
      <img src="assets/images/halo of the sun.gif" class="img-thumbnail mt-3 mb-3 none-border" alt="Halo Of The Sun"/>
      <small class="text-white fst-italic mt-2">Te espero en nuestro lugar especial.</small>
    </div>
  </div>
  <img src="assets/images/im here for you james.gif" class="img-thumbnail border-silent-hill" alt="Im Here For You James" />
  <audio #backgroundSound autoplay loop>
    <source src="assets/music/soundtracks/silent hill 2/theme of laura.mp3">
  </audio>
</section>