<!-- BEGIN FOOTER -->
<footer class="container py-5 mt-5">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="assets/images/favicon.gif" alt="Footer Logo" width="24" height="24">
      <small class="d-block mb-3 text-white">© {{currentYear}} – {{currentYear + 1}}</small>
    </div>
    <div class="col-6 col-md text-white">
      <h5>MENÚ</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary link-white text-decoration-none" [ngClass]="route.url == '/' ? 'active' : ''" href="#">HOME</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-white">
      <h5>ENLACES ÚTILES</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary link-white text-decoration-none" [ngClass]="route.url == '/' ? 'active' : ''" href="#">HOME</a></li>
      </ul>
    </div>
    <div class="col-6 col-md text-white">
      <h5>SOBRE</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary link-white text-decoration-none" [ngClass]="route.url == '/about-us' ? 'active' : ''" href="#/about-us">QUIENES SOMOS</a></li>
        <li><a class="link-secondary link-white text-decoration-none" [ngClass]="route.url == '/contact-us' ? 'active' : ''" href="#/contact-us">CONTÁCTANOS</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid text-center vertical-line">
    <p class="fw-light text-white mt-2">Copyright © {{currentYear}}. Todos los derechos reservados. Desarrollado por <a class="link-light link-underline-opacity-0 link-opacity-75-hover" href="https://cl.linkedin.com/in/byron-stevens-villegas-moya" target="_blank">Byron Villegas Moya</a></p>
  </div>
</footer>
<!-- END FOOTER -->