<div class="offcanvas offcanvas-bottom text-bg-dark" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
  <div class="offcanvas-header">
    <input type="text" class="form-control" id="search" placeholder="Buscar disco..." [value]="this.searchText" (keyup)="searchChange($any($event).target.value)">
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" (click)="clearSearch()"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="container-fluid">
      <h1 *ngIf="discs.length == 0 && searchText.length != 0"><strong>No se encontraron discos...</strong></h1>
      <div class="row row-cols-1 row-cols-md-4">
        <div class="col mb-3" *ngFor="let disc of discs">
            <div class="col mb-2">
              <a href="/disc/{{disc.sku}}" class="link-light link-underline link-underline-opacity-0">
                <div class="disc-element" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" (click)="clearSearch()">
                  <img src="{{ disc | imageRoute:disc!.images[0] }}" alt="{{disc.sku + '-imagen-1'}}">
                  <div class="hover-img" *ngIf="disc!.images[1]">
                    <img src="{{ disc | imageRoute:disc!.images[1] }}" alt="{{disc.sku + '-imagen-2'}}">
                  </div>
                </div>
              </a>
            </div>
            <div class="col">
              <a href="/disc/{{disc.sku}}" class="link-light link-underline link-underline-opacity-0">
                <h6 class="text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" (click)="clearSearch()"><strong>{{disc!.name}}</strong></h6>
              </a>
              <span class="text-white mt-0">{{disc!.author}} - {{disc!.yearCreated}}</span>
              <br/>
              <span class="text-white">{{disc!.categories[disc!.categories!.length-1].substring(0, disc!.categories[disc!.categories!.length-1].length-1)}}</span>
            </div>
        </div>
      </div>
    </div>
  </div>
  <p *ngIf="discs.length > 0 && searchText.length != 0" class="text-white text-end mt-3 me-3 fw-light">Se encontraron {{discs.length}} discos.</p>
</div>